<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
        <title>Signin</title>
</head>

<body>
    <%- include("./partials/nav") %>

        <form action="/user/resetPass" method="post">
            <div class="container mt-4">
                    <div class="mb-3">
                        <label for="password" class="form-label">New Password</label>
                        <input type="text" class="form-control" id="password" aria-describedby="emailHelp">

                    </div>
                </div>
                <div class="container mt-4">
                <div class="mb-3">
                    <label for="password" class="form-label">Confirm Password</label>
                    <input type="password" name="password" class="form-control" id="password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
        </div>

        <%- include("./partials/script") %>
</body>

</html>